* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  
}

.container {
  min-height: 80vh;
  width 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

p {
	color: black;
	font-size: 1.5rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70%;
}

h2 {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 2rem;
}


hr {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.welcome {
  margin-top: 125px;
}

.blue {
  color:#009aff;
}

.orange {
  color:#FF652F;
}

.purple {
  color:#6500ff;
}


/* Nav */

 .logo {
  display: none;
}

.logo h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.logo h1 span {
	color: #FF652F;
}


#nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#nav .navigation {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 1);
}


#nav-ul {
  list-style: none;
}

.item {
  display: none;
  font-size: 1.2rem;
}


#toggle {
  font-size: 2.5rem;
  display: none;
}


#nav-ul a {
	font-weight: 700;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#nav-ul a:hover {
  color:#FF652F;
} 


/* End Nav */

/* Hero */
.hero{
  justify-content: center;
}

#hero {
  background-image: url(https://cdn.glitch.com/1ca1d9bd-efca-4007-bcec-cb256aaa5758%2Fpexels-andrew-neel-2312369.jpg?v=1610665627434);
  background-size: cover;
  background position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}


#hero .action {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid #FF652F;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

#hero a {
  text-decoration: none;
}

 #hero .action:hover {
  color: white;
  background-color: #FF652F;
}

/* End Hero */



/* Block Quote Start

 Adapted from Juan Pablo's Code Pen

https://codepen.io/jupago/pen/GPxqLX */


  /* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   padding: 0 20px;
}

  /* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin-bottom: 80px;
    align-self: center;
}

  /* Blockquote header */
.blockquote h1 {
    font-family: 'Permanent Marker', cursive;
    position: relative; /* for pseudos */
    color: #272727;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 25px;
}


.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #fff;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

  /* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}



  /* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #747474;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    z-index: 1;
    margin-left:300px;
    padding-left:10px;
}

/* End Block quote */


/* Tech skills */

.tech {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.tech img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  
}

/* End Tech Skills */

/* Contact */

.contacts {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}


#contact-section {
  margin-bottom: 30px;
}

.contact a {
  color: black;
}

.contact a:hover {
  color: #009aff;
}


.contact h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
}

.contact h3 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

/* End Contact */

/* Footer */

#footer {
  background: #272727;
  min-height: 100px;
  text-align: center;
}

.footer-content p {
  padding-top: 50px;
  margin-bottom: 0px;
  color: white;
}

/* End Footer */

/* Media Queries */

@media screen and (max-device-width: 480px) and (orientation: portrait){
 
   #nav .nav-bar {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
  width: 100%;
  justify-content: space-between;
}
  
  #nav-ul {
  justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
  }
	
 #toggle {
    display:block;
  }
  
  
 
}

@media screen and (max-device-width: 640px){
  
  #nav .nav-bar {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
  justify-content: space-between;
  width: 100%;
}
  
  
  #nav-ul {
  justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
  }
	
 #toggle {
    display:block;
  }
  
  
  
}

@media only screen and (min-width: 768px) {
  
  #nav .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
  
#nav-ul {
  display: flex;
  } 
  
  .item {
    display: block;
  }
  
  .logo {
  display: block;
}
  
}

